@mixin button-variant($color, $background, $border, $shadow) {
  $active-background: darken($background, 10%);
  $active-border: darken($border, 12%);

  color: $color;
  background-color: $background;
  border: 1px solid $border;
  box-shadow: $shadow;
  transition: .15s;

  &:hover {
    color: $color;
    background-color: $active-background;
    border-color: $active-border;
  }
}

@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-outline-variant($color) {
  color: $color;
  background-image: none;
  background-color: transparent;
  border-color: $color;
}